.root {
  position: relative;
  width: 628px;
  height: 718px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #3e3a3a99;
  overflow: hidden;
  backdrop-filter: blur(10px);
}
.bc {
  position: absolute;
  left: 40px;
  top: 260px;
  width: 547.8673px;
  height: 64px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.bc2 {
  position: absolute;
  left: 40px;
  top: 393px;
  width: 547.8673px;
  height: 64px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.bc3 {
  position: absolute;
  left: 40px;
  top: 127px;
  width: 547.8673px;
  height: 64px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.visibility {
  position: absolute;
  left: 544px;
  top: 413px;
  width: 24px;
  height: 24px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.nombreDeUsuario {
  color: #fff;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  font-family: Chakra Petch, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.02em;
  position: absolute;
  left: 40px;
  top: 98px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.correo {
  color: #fff;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  font-family: Chakra Petch, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.02em;
  position: absolute;
  left: 40px;
  top: 231px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.contrasena {
  color: #fff;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  font-family: Chakra Petch, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.02em;
  position: absolute;
  left: 40px;
  top: 364px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.OlvidasteTuContrasena {
  color: #fff;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  font-family: Chakra Petch, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.02em;
  position: absolute;
  left: 40px;
  top: 496px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.oRegistrateCon {
  color: #fff;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  font-family: Chakra Petch, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.02em;
  position: absolute;
  left: calc(50% - 0.5px);
  top: 605px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.bc4 {
  position: absolute;
  left: 215px;
  top: 537px;
  width: 197px;
  height: 48px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.label {
  color: #232222;
  font-size: 20px;
  font-weight: 600;
  font-family: Chakra Petch, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 0.5px);
  top: 548px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.line20 {
  position: absolute;
  left: 40px;
  top: 615px;
  width: 196px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #fff;
}
.line22 {
  position: absolute;
  left: 50%;
  top: 77px;
  width: 628px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #fff;
  transform: translateX(-50%);
}
.line21 {
  position: relative;
  left: 391px;
  top: 615px;
  width: 197px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
}
.line21::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: translateY(1px) rotate(0deg);
  width: 197px;
  height: 0;
  border-bottom: solid 1px #fff;
}
.registrarme {
  color: #fff;
  font-size: 32px;
  line-height: 120%;
  font-weight: bold;
  font-family: Chakra Petch, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.02em;
  position: absolute;
  left: 50%;
  top: 20px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.close {
  position: absolute;
  left: 40px;
  top: 27px;
  width: 24px;
  height: 24px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.account_circle {
  position: absolute;
  left: 60px;
  top: 147px;
  width: 24px;
  height: 24px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.mail {
  position: absolute;
  left: 60px;
  top: 280px;
  width: 24px;
  height: 24px;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.lock {
  position: absolute;
  left: 60px;
  top: 413px;
  width: 24px;
  height: 24px;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.rectangle277 {
  position: absolute;
  left: 270px;
  top: 666px;
  width: 32px;
  height: 32px;
  background-color: #fff;
 
}
.rectangle276 {
  position: absolute;
  left: 326px;
  top: 666px;
  width: 32px;
  height: 32px;
  background-color: #fff;
  
}
